* {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* margin:0px; */
 
}



.header{
    background-image:url('assets/Hero-bg.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 580px;
   margin-top:70px;
   padding: 21px 24px 21px 24px;

}
.header-section-div{
    margin:0 auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.header-img{

width: 240.28px;
height: 240px;
left: 257.67%;
right: -257.67%;
top: 0%;
bottom: 0%;

}
.header-p{

width: 852px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0px 0px 25px 0px;
opacity: 0.7;
}
.btn{
background-color:black;   
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
text-align: center;
padding:18px;
border:2px solid gray;
border-radius:10px;



}
.song{
    padding:30px;

}
.btn:hover{
    cursor:pointer;
}
.header-title{
    font-size: 40px;
    font-weight: 700;
}

/* why development section starts here */

.why-development-section{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
/* border:2px solid green; */
margin:70px;
margin-top:150px;
background-color:beige;
border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}
.why-development-title{

}
.flex-header{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin: 0 auto;
}
.div1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:azure;
    padding:50px;
    margin:15px 25px;
    border-radius: 10px;
}
.learn-more{
    /* Frame 7 */
position: static;
width: 149px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
.div1-text{
    width:50%;
}
.div1-img{
    width:50%;
    padding-left:30px;
}
.div-text h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
main{
    /* border:2px solid red; */
    padding-bottom:100px;
}
.inspiration-section{
    /* border:3px solid green; */
position: static;
width: 1140px;
height: 614px;
padding-bottom:120px;


display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;


margin: 48px 0px;
margin: 0 auto;




}
.inspiration-text{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.inspiration-area{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* padding:30px; */
    padding-left:28px;
    margin-bottom:50px;
    margin-right:10px;
}
iframe{
    border-radius:10px;
    
}
.inspiration-h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.inspiration-p{
    color: rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* my target section starts here */


.cart{
  /* Frame 19 */
position: static;
width: 1140px;
height: 463px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin:130px auto;
/* margin-top:200px; */
}
.flex-cart{
    margin-top:100px;
}
.cart1{
   /* Frame 10 */
position: static;
width: 300px;
height: 300px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
/* padding:40px 30px 5px 30px; */


background-color:#dce1c0;
padding: 20px;
border-radius:10px;
}
.cart2{
  

background: rgba(0, 76, 232, 0.05);
/* Frame 16 */
position: static;
width: 300px;
height: 300px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;
background-color:#dbc9debb;
padding: 20px;
border-radius:10px;




}
.cart3{
  /* Frame 16 */
position: static;
width: 300px;
height: 300px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;

border-radius: 16px;

background: rgba(197, 191, 241, 0.991);
}
.flex-cart{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.div-cart1 h1{
    font-size: 20px;
    font-weight:800;
}
.div-cart1 p{
   opacity:0.8;
}
.div-cart1 a{
    color:black;
    line-height:10;
    font-weight:800;
    
}
.cart-description{
    opacity:0.8;

}

/* contact section stars here */
.contact-section{
    margin-top:300px;
}
.contact-area{
    background-image:url("assets/handshake.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  
width: 1140px;
height: 314px;
margin: 0 auto;
border-radius:10px;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
color:aliceblue;
padding:30px;
background-color:rgba(0, 0, 0, 0.5);
background-blend-mode:overlay;

}
.contact-area h1{
    font-size: 40px;
   
    font-weight: 700;
    line-height: 36px;

}
.contact-area p{
    font-size: 20px;
   
    font-weight: 700;
    line-height: 36px;

}
.input-div input, .submit-btn {
    font-size: 20px;
   color:gray;
   font-weight: 700;
   opacity:0.7;
   padding:10px;
    font-weight: 700;
    line-height: 36px;
    border-radius:15px;
    margin-bottom:50px;
 

}
.input-div button:hover {
   cursor:pointer;
}
.footer{
    display:flex;
    justify-content:space-between;
    background-color:rgba(231, 191, 241, 0.703);
    color:rgb(19, 16, 16);
    padding:30px;
    border-radius:10px;
    

}
.footer-div2 img{
    margin-right:20px;
}
