.header{
    background-image:url('assets/Hero-bg.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 580px;
   margin-top:70px;
   padding: 21px 24px 21px 24px;

}
.header-section-div{
    margin:0 auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.header-img{

width: 240.28px;
height: 240px;
left: 257.67%;
right: -257.67%;
top: 0%;
bottom: 0%;

}
.header-p{

width: 852px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0px 0px 25px 0px;
opacity: 0.7;
}
.btn{
background-color:black;   
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
text-align: center;
padding:18px;
border:2px solid gray;
border-radius:10px;


}
.header-title{
    font-size: 40px;
    font-weight: 700;
}

/* why development section starts here */

.why-development-section{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
/* border:2px solid green; */
margin:70px;
margin-top:150px;
background-color:beige;
border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}
.why-development-title{

}
.flex-header{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin: 0 auto;
}
.div1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:azure;
    padding:50px;
    margin:15px 25px;
    border-radius: 10px;
}
.learn-more{
    /* Frame 7 */
position: static;
width: 149px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}
.div1-text{
    width:50%;
}
.div1-img{
    width:50%;
    padding-left:30px;
}
main{
    border:2px solid red;
}
.inspiration-section{
    border:3px solid green;
position: static;
width: 1140px;
height: 614px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;

margin: 48px 0px;
margin: 0 auto;




}
.inspiration-text{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.iframe{
    /* Rectangle 1 */
position: static;
width: 1076px;
height: 500px;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;
}
